<h2 class="mt-4">Five grid tiers</h2>
  <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

  <div class="row mb-3">
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
    <div class="col-4 themed-grid-col">.col-4</div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-4 themed-grid-col">.col-sm-4</div>
    <div class="col-sm-4 themed-grid-col">.col-sm-4</div>
    <div class="col-sm-4 themed-grid-col">.col-sm-4</div>
  </div>

